*{
    margin: 0;
    padding: 0;
}
div{
    margin: 20px;
}
p{
    margin: 20px;
}
ul{
    width: 100%;
    text-align: center;
    font-size: 26px;
}
li{
    display: inline;
    padding: 15px;
    
}

img{
    margin: 20px;
}
#contact{
    margin: 20px;
}